body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0;
    background-color: #fff;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.container {
    max-width: 1263.226px;;
    margin-right: auto;
    margin-left:auto ;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    padding-top: 82px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px #fff;
    border-radius: 0px 0px 15px 15px;
box-shadow: 0px 4px 12px -7px rgba(28, 52, 88, 0.50);
}

.logo {
    text-decoration: none;
    padding-right: 82px;
}

.block-header1{
    display: flex;
    flex-direction: column;
}

.text-header {
   margin: 0;
font-size: 12px;
font-weight: 300;
line-height: 18px; 
}

.block-header2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.phone-link {
    text-decoration: none;
    color: #000;
font-size: 22px;
font-weight: 700;
line-height: 18px; 
padding-left:20px;
background:url(../images/phone-header.png) no-repeat center left;
width: 100%;
height: auto;
}

.text-under-phone-linl {
    margin: 0;
font-weight: 300;
line-height: 18px;
padding-top: 6px;
padding-left: 20px;
}

.nav{
margin-top: 37px;
margin-bottom: 37px;
}

.nav ul{
    list-style: none;
    border: 1px solid #396AB6;
    border-radius: 7px;
    background-color: #396AB6;
}

.nav li{
display: inline-block;
padding-top: 21px;
padding-bottom: 21px;
}

.nav a {
    color: #FFF;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
margin-left: 23px;
margin-right: 23px;
}

.main-block {
background-image: url(../images/phone-main-block.jpg);
    background-repeat: no-repeat;
    background-size: cover;

background-position: center;
position: relative;
margin-bottom: 78px;
height: 756px;
}

.mini-main-block {
    background-color: #FFF;
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.mini-main-block1{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.mini-main-block2{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 40px;
    margin-left: 150px;
}

.tittle-main-block {
font-size: 37px;
font-weight: 600;
line-height: 74.5px;
margin: 0;
}

.text-main-block {
font-weight: 300;
line-height: 18px; 
margin: 0;
padding-bottom: 66px;
}

.link-main-block {
    color: #14448E;
font-size: 24px;
font-weight: 500;
line-height: 28px; 
text-decoration: none;
}

.btn {
  border: none;
   border-radius: 14px;
background: #FF3324;
padding-right: 60px;
 padding-left: 36px;
 padding-top: 15px;
 padding-bottom: 15px;
 
}

.btn p{
background-image: url(../images/iconka-main-block.png);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 20px;
 width: 100%;
 height: auto;
 padding-top:4px;
 padding-bottom: 4px;
color: #FFF;
font-size: 18px;
line-height: 18px; 
font-weight: 600;
}
 
.photo-block {
    margin-bottom: 53px;
}

.img-photo-block {
    border-radius: 8px;
    float: left;
    padding-right: 25px;
}

.tittle-h1 {
    margin: 0;
    color: #0D0D0D;
font-size: 44px;
font-weight: 700;
line-height: 60px; 
padding-bottom: 24px;
}

.text-photo-block {
margin-top: 40px;
margin-bottom: 20px;
}

.main-blue-block {
    background-color:rgba(70, 124, 206, 0.26);
} 

.blue-block {
    padding-top: 123px;
    padding-bottom: 163px;
}

.tittle {
    margin: 0;
font-size: 44px;
font-weight: 700;
line-height: 60px; 
padding-bottom: 24px;
 color: #183359;
 text-align: center;
}

.text-blue-block {
    color: #000;
text-align: center;
font-size: 18px;
font-weight: 400;
margin: 0;
line-height: 18px; 
padding-bottom: 50px;
}

.cards {
    display: flex;
   flex-wrap: wrap;
justify-content: space-between;
}

.card {
flex-direction: column;
    border-radius: 14px;
border: 1px solid #DDE7F8;
background: #FEFEFF;
    width: 32%;

    box-sizing: border-box;
    padding-bottom: 50px;
}

.img-cards {
    width: 119px;
    height: auto;
margin: 51px auto 31px;
display: block;
}

.block-text-blue-block{
    text-align: center;
}

.tittle-cards-blue-block {
font-size: 22px;
font-weight: 700;
line-height: 18px; 
}

.link-text-blue-block {
    color: #467CCE;
font-weight: 300;
line-height: 24px; 
text-decoration: none;
}

.text-cards-blue-block {
font-weight: 300;
line-height: 24px;
margin: 0;
padding-bottom: 50px;
}

.link-blue-block{
    border: 1px solid #FF3324;
    border-radius: 3px;
    background-color: #FF3324;
    color: #FFF;
font-size: 16px;
font-weight: 700;
line-height: 18px;
padding: 15px 30px ;
text-decoration: none;
border: none;
}

.link-blue-block:hover{
    border-radius: 3px;
border: 2px solid #FF3324;
background: #FFF;
color: #FF3324;;
}

.link-blue-block:active{
    box-shadow: 0 2px 4px #0D0D0D;
}

.block-house{
    padding-top: 128px;
}

.house-cards {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;

}
.house-card {
    display:flex ;
    flex-direction: column;
    width: 23%;
    position: relative;
    border-radius: 5px;
border: 1px solid #D1E0F9;
background: #FFF;
padding-bottom: 30px;
}

.img.house-cards{
    margin: 0 auto;
    width: 305px;
    height: auto;
}

.hause-span1 {
    display: block;
    position: absolute;
    top:15px;
    left:25px;
    border: 1px solid #CC23E8;
  color: #FFF;
font-size: 12px;
font-weight: 600;
background-color: #CC23E8;
padding: 5px 10px;
border-radius: 4px;
border: none;
margin: 0;
}

.hause-span {
    display: block;
    position: absolute;
    top:15px;
    left:25px;
    border: 1px solid #7BCB14;
  color: #FFF;
font-size: 12px;
font-weight: 600;
background-color: #7BCB14;
padding: 5px 22px;
border-radius: 4px;
border: none;

}

.tittle-house-cards {
font-size: 16px;
font-weight: 600;
line-height: 28px;
margin-top: 27px;
margin-bottom: 25px;
}

.price-house-cards {
    color: #2F4B77;
font-weight: 600;
}

.text-house-cards {
    color: #666;
font-size: 12px;
line-height: 16px; 
padding-bottom: 35px;
}

.link-house-cards {
 border: 1px solid #FF3324;
    border-radius: 3px;
    background-color: #FF3324;
    color: #FFF;
font-weight: 700;
line-height: 18px;
padding: 15px 20px;
text-align: center;
text-decoration: none;
border: none;
margin: 0 25px;
}

.link-house-cards:hover{
    border-radius: 3px;
border: 2px solid #FF3324;
background: #FFF;
color: #FF3324;;
}

.link-house-cards:active{
    box-shadow: 0 2px 4px #0D0D0D;
}

.link-house-cards2{
    border: 1px solid #FF3324;
    border-radius: 3px;
    background-color: #FF3324;
    color: #FFF;
font-weight: 700;
line-height: 18px;
padding: 15px 20px;
text-align: center;
text-decoration: none;
border: none;
margin: 16px 25px 0;
}

.link-house-cards2:hover{
    border-radius: 3px;
border: 2px solid #FF3324;
background: #FFF;
color: #FF3324;;
}

.link-house-cards2:active{
    box-shadow: 0 2px 4px #0D0D0D;
}


.text-block-house-cards{
    padding-left: 25px;
    
}

.footer{
background-color: #1C4179;
}

.footer-text {
    margin: 0;
    padding: 64px 0;
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 18.5px; 
text-align: center;
}